<!-- Breadcrumb Section Begin -->
<section>
    <img src="assets/img/background.png" style="position: absolute;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;margin-top: 30px;">
                <div class="breadcrumb__text">
                    <h2>Thanh toán</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/home">Trang chủ</a>
                        <span>Thanh toán</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80" style="margin-bottom: 100px; margin-top: 100px;">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="checkout_details_area mt-50 clearfix" style="border: 1px solid #7fad39;padding: 30px;">

                    <div class="cart-page-heading mb-30" style="margin-bottom: 40px;">
                        <h5 style="font-weight: 600;color: #1a6302;padding-bottom: 15px;border-bottom: 1px solid #e2dc0a;">Địa chỉ thanh toán</h5>
                    </div>

                    <form [formGroup]="hoadonForm" (ngSubmit)="onSubmit(hoadonForm.value)">
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="first_name">Họ và tên <span style="color: red;">(*)</span></label>
                                <input type="text" class="form-control" id="first_name"formControlName="hoten">
                                <span *ngIf="errorHandlingAddForm('hoten', 'required')" class="text-danger">
                                    Họ và tên bắt buộc
                                </span>
                                <span *ngIf="errorHandlingAddForm('hoten', 'pattern')" class="text-danger">
                                    Họ và tên không đúng định dạng
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="street_address">Địa chỉ <span style="color: red;">(*)</span></label>
                                <input type="text" class="form-control mb-3" id="street_address" formControlName="diachigh">
                                <span *ngIf="errorHandlingAddForm('diachigh', 'required')" class="text-danger">
                                    Địa chỉ bắt buộc
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="phone_number">Số điện thoại <span style="color: red;">(*)</span></label>
                                <input type="text" class="form-control" id="phone_number" min="0" formControlName="sdtgh">
                                <span *ngIf="errorHandlingAddForm('sdtgh', 'required')" class="help-block"  class="text-danger">
                                    Số điện thoại bắt buộc
                                </span>
                                <span *ngIf="errorHandlingAddForm('sdtgh', 'pattern')" class="text-danger">
                                    Số điện thoại không đúng định dạng
                                </span>
                            </div>
                        </div>
                        <button routerLink="/customer/cart" style="width: 70px;background: red;color: white;border: none;padding: 10px;float: left;margin-top: 20px;" >Hủy</button>
                        <button  type="submit" style="width: 200px;background: #7fad39;color: white;border: none;padding: 10px;float: right;margin-top: 20px;" >Đặt hàng</button> 
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                <div class="order-details-confirmation" style="border: 1px solid #dbf1c3;padding: 30px;">

                    <div class="cart-page-heading" style="margin-bottom: 40px;">
                        <h5 style="color: #dcc309;padding-bottom: 15px;border-bottom: 1px solid #7fad39;">Đơn hàng của bạn</h5>
                    </div>

                    <ul class="order-details-form mb-4" style="list-style: none;">                       
                        <li style="margin-bottom: 20px;font-weight: 600;color: #6eb109;"><div style="width: 250px;float: left;">Tên sản phẩm</div>
                             <div style="text-align: right;">Giá tiền</div></li>
                        <li *ngFor="let it of items" style="margin-bottom: 25px;padding-bottom: 30px;border-bottom: 1px solid #7fad39;">
                            <div style="width: 250px;float: left;">{{it.tencaycanh}} <span> × {{it.quantity}}</span></div>
                            <div style="text-align: right;"> {{ it.money.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</div>
                        </li> 
                        <li><div style="width: 250px;float: left; font-weight: bold;">Tổng tiền</div> 
                            <div style="text-align: right;color: red;">{{ total.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->