<!-- Breadcrumb Section Begin -->
<section>
    <img src="assets/img/background.png" style="position: absolute;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;margin-top: 30px;">
                <div class="breadcrumb__text">
                    <h2>Tin tức</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/home">Trang chủ</a>
                        <span>Tin tức</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
 <!-- Blog Section Begin -->
 <section class="blog spad">
    <div class="container">
        <div class="row">           
            <div class="col-lg-12 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="assets/img/blog/blog-2.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 4 Tháng 6, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Top 9 cây cảnh tặng khai trương ý nghĩa</a></h5>
                                <p>Hiện nay việc tặng cây cảnh trong khai trương rất là phổ biến và được nhiều người lựa chọn...  </p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="assets/img/blog/blog-3.jpg" alt="" style="width: 540px;height: 339px;">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 10 tháng 5, 2020</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Khởi nghiệp cùng cửa hàng cây cảnh dễ dàng </a></h5>
                                <p>Bạn đang muốn khởi nghiệp hay bạn đang có một cửa hàng cây cảnh nhưng lượng khách tìm đến cửa hàng ít... </p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="assets/img/blog/blog-1.jpg" alt="" style="width: 540px;height: 339px;" >
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 23 tháng 6, 2021</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Các loại cây nguyên liệu phổ biến hiện nay</a></h5>
                                <p>Nông nghiệp Việt Nam ngày càng phát triển là nơi cung cấp nguyên liệu lớn cho thị trường trong nước lẫn nước ngoài. Chính vì thế, hôm nay... </p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="assets/img/blog/blog-4.jpg" alt="" style="width: 540px;height: 339px;">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> 12 tháng 12, 2020</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Hoa cây kim tiền có ỹ nghĩa gì ?</a></h5>
                                <p>Cây kim tiền là một trong những cây phong thủy được ưa chuộng và tìm kiếm nhiều nhất hiện nay, nên có nhiều thắc mắc xung quanh... </p>
                                <a href="#" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->