<!-- Breadcrumb Section Begin -->
<section>
    <img src="assets/img/background.png" style="position: absolute;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;margin-top: 30px;">
                <div class="breadcrumb__text">
                    <h2>Giới thiệu</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/home">Trang chủ</a>
                        <span>Giới thiệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="row">
                    <p>Đứng đầu lĩnh vực Online về thị trường cây cảnh</p>
                </div>
            </div>
        </div>
    </div>
</section>